<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this:: content})}">
    <th:block th:fragment="content">
        <h1>Movie Modify Page</h1>
        <style>
            .form-group { margin: 15px 0 ;}
        </style>
        <form th:action="@{/movie/modify}" th:method="post">
            <div class="form-group">
                <label>Mno</label>
                <input type="text" th:value="${dto.mno}" name="mno" class="form-control" readonly>
                <input type="hidden" name="page" th:value="${requestDTO.page}">
                <input type="hidden" name="type" th:value="${requestDTO.type}">
                <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" th:value="${dto.title}" class="form-control">
            </div>
            <div style="margin-bottom: 30px;">
                <label>Review Count</label>
                <input type="text" name="reviewCnt" class="form-control" readonly th:value="${dto.reviewCnt}">
            </div>
            <div style="margin-bottom: 30px;">
                <label>Average</label>
                <input type="text" name="avg" readonly class="form-control" th:value="${dto.avg}">
            </div>
            <div class="form-group">
                <label>RegDate</label>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
            <div class="form-group">
                <label>ModDate</label>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
            <button type="button" class="btn btn-primary modiBtn">Modify</button>
            <button type="button" class="btn btn-info listBtn">List</button>
            <button type="button" class="btn btn-danger removeBtn">Remove</button>
        </form>
        <script th:inline="javascript">
            const actionForm = document.querySelector("form")
            const modiBtn = document.querySelector(".modiBtn")
            const listBtn = document.querySelector(".listBtn")
            const removeBtn = document.querySelector(".removeBtn")
            modiBtn.onclick = e => {
                actionForm.setAttribute('action', /*@{/movie/modify}*/'modify')
                actionForm.setAttribute('method', "post")
                actionForm.submit()
            }
            listBtn.onclick = e => {
                location.href =
                    /*[[@{/movie/list(page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword})}]]*/'url'
            }
            removeBtn.onclick = e => {
                actionForm.setAttribute('action', /*@{/movie/remove}*/'remove')
                actionForm.setAttribute('method', "post")
                actionForm.submit()
            }
        </script>
    </th:block>
</th:block>